URxvt.font: xft:Hack:size=9
URxvt.scrollBar: false

*.color0: #1E2127
*.color8: #5C6370
*.color1: #CC626A
*.color9: #E06C75
*.color2: #98C379
*.color10: #A7D685
*.color3:  #da8548
*.color11: #ECBE7B
*.color4: #3E86B8
*.color12: #51afef
*.color5: #a9a1e1
*.color13: #C678DD
*.color6: #4db5bd
*.color14: #56B6C2
*.color7: #ABB2BF
*.color15: #FFFFFF
*.foreground: #ABB2BF
*.cursorColor: #5C6370
*.background: #282c34 
URxvt*cursorColor:                    #d1d4e0
URxvt*scrollColor:                    #d1d4e0
URxvt*highlightColor:                 #252936
URxvt*highlightTextColor: #C0C5CE
